:root {
    --clrBlack: #000000;
    --clrWhite: #ffffff;

    // Primary
    --paleBlue: 225, 100%, 94%;
    --brightBlue: 245, 75%, 52%;
    // Neutral
    --verypaleBlue: 225, 100%, 98%;
    --desaturatedBlue: 224, 23%, 55%;
    --darkBlue: 223, 47%, 23%;

    // Typography
    --fs-base: clamp(0.94rem, 0.09vw + 0.92rem, 1rem);

    --ff: 'Red Hat Display' , sans-serif;
}

html,
body {
    box-sizing: border-box;
    min-height: 100vh;
    line-height: 1.5;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: var(--ff);
    font-size: 100%;
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    font-weight: 900;
    padding-top: 2rem;
    font-size: clamp(1.25rem, 0.88vw + 1.04rem, 1.75rem);
}

main {
    display: table;
    top: 0;
    left: 0;
    background-color: hsl(var(--paleBlue));
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-image: url(/assets/images/pattern-background-mobile.svg);
    position: absolute;

    @media screen and (min-width:48em) {
        background-image: url(/assets/images/pattern-background-desktop.svg);
    }
}

img[alt="illustration"] {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.mainTable {
    display: table-cell;
    vertical-align: middle;
}

.table {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    vertical-align: middle;
    width: min(90%, 450px);
    border-radius: 20px;
    background-color: var(--clrWhite);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.table__order {
    text-align: center;
    padding: 0 25px 25px;

    p {
        font-size: clamp(0.94rem, 0.11vw + 0.91rem, 1rem);;
        line-height: 1.6;
        color: hsl(var(--desaturatedBlue));
        padding-block: 25px;
    }

    @media screen and (min-width: 48px) {
        padding: 0 48px 48px;
    }
}

.plan {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    margin-bottom: 25px;
    border-radius: 11px;
    background-color: hsl(var(--verypaleBlue));
}

.priceTag {
    display: flex;
    flex-direction: row;
    place-items: center center;
    column-gap: 20px;
    
}

.annual {
    font-size: clamp(0.88rem, 0.22vw + 0.82rem, 1rem);

    &__price {
        color: hsl(var(--desaturatedBlue));
    }
}

.change {
    font-weight: 600;
    transition: 150ms ease all;

    &:hover,
    &:focus {
        opacity: .6;
        text-decoration: none;
    }
}

.btn {
    display: flex;
    flex-direction: column;
    row-gap: 28px;

    a {
        text-decoration: none;
    }

    &__proceed {
        color: var(--clrWhite);
        background-color: hsl(var(--brightBlue));
        border-radius: 11px;
        padding-block: 20px;
        font-size: clamp(0.88rem, 0.22vw + 0.82rem, 1rem);
        font-weight: 900;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        transition: 150ms ease all;

        &:hover,
        &:focus {
            background-color: hsla(245, 83, 68, 100%);
        }
    }

    &__cancel {
        color: hsl(var(--desaturatedBlue));
        font-weight: 900;
        transition: 150ms ease all;

        &:hover,
        &:focus {
            color: var(--clrBlack);
        }
    }
}